@import url("https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.body {
  background-color: rgba(0, 0, 0, 0.05);
}

.logo, .logo span {
  font-size: 24px !important;
  font-family: "Luckiest Guy", cursive !important;
  color: #4C4C4C !important;
}
.logo span {
  color: #26a699 !important;
}

.appbar {
  background-color: white !important;
}

.btn {
  width: auto;
  display: block;
}
.btn-create-room {
  padding: 10px !important;
  color: #2C3E50 !important;
  margin-left: 40px !important;
}
.btn-create-room span,
.btn-create-room a {
  color: #2C3E50 !important;
  font-size: 18px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.btn-join-room {
  padding: 10px !important;
  color: #2C3E50 !important;
}
.btn-join-room span,
.btn-join-room a {
  color: #2C3E50 !important;
  font-size: 18px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.btn-play {
  color: #2C3E50 !important;
  width: 30% !important;
  margin-top: 30px !important;
  border-radius: 100px !important;
}
.btn-play span,
.btn-play a {
  color: #2C3E50 !important;
  letter-spacing: 3px;
  font-size: 18px !important;
  font-family: "Luckiest Guy", cursive !important;
}

.img {
  width: auto;
  height: auto;
}
.img-logo {
  content: url("../public/images/LogoVinhBee.png");
  width: 140px !important;
  height: auto;
  margin-left: 30px !important;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: #2C3E50;
  width: 100%;
  min-height: 40px;
  padding: 10px 15px 10px 50px;
  background: transparent !important;
}
.nav-menu ul {
  list-style: none;
  display: flex;
  float: right;
  margin-bottom: 0px !important;
  font-size: 16px;
}
.nav-menu ul li {
  display: flex;
  margin: 0px 10px;
  padding: 5px;
}

ul.iconSocial {
  position: fixed;
  width: 50px;
  z-index: 999;
  margin: 0;
  top: 40%;
  left: 0;
}
ul.iconSocial li {
  font-size: 30px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
ul.iconSocial li:hover {
  color: #DDAD26;
}

.nav-menu-no-color {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
}

.nav-menu-active {
  background: transparent !important;
  background-color: white !important;
}

.session-1 {
  background-attachment: fixed;
  background-position: center;
  background-image: url("/images/bg1.gif");
  width: 100%;
  height: calc(100vh);
  border-bottom: #4C4C4C !important solid 1px;
}
.session-1 .index-caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.session-1 .index-caption h1 {
  font-size: 45px;
  color: #cfcfcf !important;
  letter-spacing: 4px;
  font-weight: 500;
}
.session-1 .index-caption h3 {
  color: #cfcfcf !important;
  letter-spacing: 4px;
  font-weight: 200;
}

.session-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 85px 20px;
  height: 100vh;
  width: auto !important;
  border-bottom: #4C4C4C !important solid 1px;
}
.session-2 .header-session {
  margin-top: 10px;
}
.session-2 .header-session h3 {
  margin: 0;
  padding: 0 0 10px;
  font-size: 26px;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.session-2 .header-session h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  opacity: 0.5;
}
.session-2 .avt-me {
  padding-top: 40px;
}
.session-2 .avt-me img {
  width: 100px;
  height: 100px;
  background-color: #DDAD26;
  border-radius: 50px;
}
.session-2 .caption {
  text-align: center;
  padding-top: 40px;
  max-width: 700px;
}
.session-2 .caption p {
  margin: 0 20px;
}